.logo {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.logo .icon {
    border-radius: var(--radius-full);
    padding: var(--spacing-xs);
    object-fit: cover;
}

.logo-text {
    line-height: 1.1;
    font-weight: var(--fw-bold);
    display: flex;
    flex-direction: column;
}

.footer .logo {
    justify-content: center;
}

.logo-dark .icon {
    background: var(--clr-bg-main);
}

@media screen and (min-width: 768px) {
    .logo {
        gap: var(--spacing-xs);
    }

    .logo-text {
        font-size: var(--fs-sm);
    }
}